
@font-face {
	font-family: 'Roboto';
	src: url('../../fonts/Roboto-Medium.eot');
    src: local('☺'), url('../../fonts/Roboto-Medium.woff') format('woff'), 
    url('../../fonts/Roboto-Medium.ttf') format('truetype'), 
    url('../../fonts/Roboto-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}


@font-face {
	font-family: 'Roboto';
	src: url('../../fonts/Roboto-Bold.eot');
    src: local('☺'), url('../../fonts/Roboto-Bold.woff') format('woff'), 
    url('../../fonts/Roboto-Bold.ttf') format('truetype'), 
    url('../../fonts/Roboto-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}


@font-face {
	font-family: 'Roboto';
    src: url('../../fonts/Roboto-Black.eot');
    src: local('☺'), url('../../fonts/Roboto-Black.woff') format('woff'), 
    url('../../fonts/Roboto-Black.ttf') format('truetype'), 
    url('../../fonts/Roboto-Black.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}


@font-face {
	font-family: 'Raleway';
	src: url('../../fonts/Raleway-Light.eot');
    src: local('☺'), url('../../fonts/Raleway-Light.woff') format('woff'), 
    url('../../fonts/Raleway-Light.ttf') format('truetype'), 
    url('../../fonts/Raleway-Light.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}







